body {
    background-color:rgb(15,15,15);
}
#score {
    color:red;
    text-align:center;
    display:none;
}
#wrapper {
    text-align:center;
}
button {
    padding-left:12px;
    padding-right:12px;
    padding-top:6px;
    padding-bottom:6px;
}
#startgame {
    color:red;
    position:absolute;
    margin:auto;
    top:50%;
    left:48%;
}
#stopgame {
    display:none;
    color:black;
    position:absolute;
    margin:auto;
    top:90%;
    left:48%;
}